{
  "env": {
    "development": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ],
        "plugins": ["transform-flow-strip-types"]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ],
        "plugins": ["transform-flow-strip-types"]
    },
    "release": {
      "presets": ["es2015"],
      "plugins": [
        "babel-plugin-syntax-trailing-function-commas",
        "transform-flow-strip-types",
        "babel-plugin-transform-es5-property-mutators",
        "babel-plugin-transform-export-extensions",
        "add-module-exports"
      ]
    }
  }
}
